body { 
    margin: 0px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
   
}

.Nav-bar{
    position: fixed;
    width: 100%;
   background-color: #0D2949;

}

#image{
    width: 70px;
    max-width:75px ;
    height: 60px;
    float: left;
    padding-bottom: 2px;
    padding-right: 8px;
}

.redirect{
  
    float: left;
    padding-right: 10px;
    text-decoration: none;
    color: #F7F7F7;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
    padding-left: 10px;
    font-size: 17px;
    
}

.redirect:hover{
    background-color: #F7F7F7;
    color:#007bb5;
    font-size: 18px;
    border-radius: 4px;

}

.redirect:active{
    background-color:#84ABD7;
    color: #FFFFFF;
}
.mobile{
    padding-top:30px ;
}
.float-left{
    float: left;
    width: 100%;
    height: auto;
    max-width: 500px;
    padding-right: 50px;
    padding-top:30px;
    padding-bottom: 50px;
    padding-left: 35px;
    
}
.float-right{
    float: right;
width: 100%;
height: auto;
max-width: 450px;
padding-left: 50px;
padding-top: 20px;
padding-bottom: 50px;
padding-right: 35px;
}
#div{
    
    
    padding-top: 20px;

    border-radius: 5px;
    padding-bottom: 50px;
    
    padding-right: 25px;
    text-align: justify;
    color: #000000;
 padding-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
  
    
}
#float{
    padding-right: 50px;
}

.spe-class{
   
   background-color:#F7F7F7;
   padding-bottom: 50px;
    

}

.header-1{
    text-align: center;
    font-size: 27px;
}


#text_left{
padding-right: 10px;
}
.section-right{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
   
    border-radius: 5px;
    padding-bottom:70px;
        padding-top: 20px;
   
    color: #F1F1F1;
}
.color_wr{
    background-color:#355F97;
    padding-bottom: 50px;
}
.section{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
   
    border-radius: 5px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
    color: #3069B2;
}
.color_w2{
      background-color:#F1F1F1;
      padding-bottom: 50px;
}
.section-2{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
 
    border-radius: 5px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
   
}
.color_w{
    background-color:#355F97;
    padding-bottom: 50px;
}
/*the styles for the contact area and the footer*/

.fa {
    padding: 6px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:60em ;
    opacity: 0.7;
  }
  
  #connect{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px; 
    text-align: center;
    background-color:#3D4143 ;
    color: #F7F7F7;
    }

  .fa:hover {
      opacity: 0.9;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
footer{
    
    padding-top: 16px;
    background-color:#3D4143;
    text-align: center;
    color: #F7F7F7;
    font-size: 13px;
}
@media only screen and (min-width: 600px) {

.mobile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
}
.float-left{
    float: none;
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin-right: auto;
margin-left: auto;
}
.float-right{
    float: none;
width: 100%;
height: auto;
max-width: 450px;
margin-right: auto;
margin-left: auto;
display: block;


}
}

@media only screen and (min-width: 1200px) {

    .float-left{
        float: left;
        width: 100%;
        height: auto;
        max-width: 500px;
        padding-right: 50px;
        padding-top:30px;
        padding-bottom: 50px;
        padding-left: 35px;
        
    }
    .float-right{
        float: right;
    width: 100%;
    height: auto;
    max-width: 450px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 35px;
    }

}